* {
    font-family: 'Roboto', sans-serif;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.main-container {
    background-color: #1f2937;
    
}

.header {
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    background-color: #1f2937;
}

.hero-bar {
    background-color: #1f2937;
}

.info-bar {
    background-color: #ff0000;
}

.info-container {
    align-self: center;
    display: flex;
}